@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('../../public/Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
}

.lesson-button {
  box-shadow:
    0px 2px 0 #46a302,
    0px 4px 0 #46a302,
    0px 5px 0 #46a302,
    0px 6px 0 #46a302,
    0px 7px 0 #46a302,
    0px 8px 0 #46a302; /* Box shadow for the circle */
}

.lesson-button:disabled {
  box-shadow:
    0px 2px 0 rgb(175, 175, 175),
    0px 4px 0 rgb(175, 175, 175),
    0px 5px 0 rgb(175, 175, 175),
    0px 6px 0 rgb(175, 175, 175),
    0px 7px 0 rgb(175, 175, 175),
    0px 8px 0 rgb(175, 175, 175); /* Box shadow for the circle */
}

.dark-lesson-button:disabled {
  box-shadow:
    0px 2px 0 rgb(45, 56, 63),
    0px 4px 0 rgb(45, 56, 63),
    0px 5px 0 rgb(45, 56, 63),
    0px 6px 0 rgb(45, 56, 63),
    0px 7px 0 rgb(45, 56, 63),
    0px 8px 0 rgb(45, 56, 63);
}

.accordion-item {
  overflow: hidden; /* Ensure the content doesn't overflow during the animation */
  transition: all 0.3s ease-in-out;
}

.lesson-page {
  animation: fadeIn 1s;
}

#exrcise-grid {
  display: grid;
  grid-template-rows: 75px 1fr;
}

#lesson-grid {
  display: grid;
  grid-template-areas:
    'exercise info-bar'
    'footer footer';
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 140px;
}

#exercise-section {
  grid-area: exercise;
}

#info-bar-section {
  grid-area: info-bar;
}

#footer-section {
  grid-area: footer;
}

.pop-animation {
  animation: pop 0.5s ease-out;
}

.tooltip {
  animation: bounce-tooltip 2s infinite;
}

.bounce-and-pop {
  animation:
    bounce-tooltip 1.5s infinite 0.6s,
    pop-tooltip 0.6s ease;
}

.lesson-popup-open {
  animation: pop-no-scale 0.4s;
}

.lesson-popup-closed {
  animation: slideaway 200ms ease-in-out;
  display: none;
}

.draggable-item {
  transition: transform 0.3s ease-in-out;
}

.draggable-item:active {
  background: black;
}

.draggable-item.dragged {
  transform: scale(1.1);
}

.open-button {
  animation: open-button 4s ease;
}

.textarea-dark-placeholder::placeholder {
  color: #52656d;
}

.range-slide {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range-slide:hover {
  opacity: 1;
}

.range-slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  border-style: solid;
  padding: 9px;
  border-width: 7.5px;
  border-color: #20a6ec;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.range-slide-error-mode::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffdfe0;
  border-style: solid;
  padding: 9px;
  border-width: 7.5px;
  border-color: red;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.multi-range {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background-color: #ebeaeb;
  pointer-events: none;
}

.multi-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 18px;
  height: 18px;
  background-color: #20a6ec;
  border-radius: 50%;
  cursor: pointer;
  z-index: 40;
  border-style: solid;
  padding: 10px;
  border-width: 6px;
  border-color: white;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.multi-range::-webkit-slider-runnable-track {
  z-index: 40;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type='checkbox'] {
  display: none;
}

/* #switch-button-input {
  transition: background-color 3s ease;
} */

#switch-button {
  transition: transform 0.2s ease;
}

#switch-button.switched {
  transform: translateX(25px);
}
/* 
#switch-button-input {
  transition: transform 3s ease;
} */

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply mx-2 my-2 bg-opacity-100 opacity-0;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-duoGray-dark transition duration-200 ease-out hover:bg-duoGray-darker;
}

@keyframes bounce-tooltip {
  0%,
  100% {
    transform: translateY(-30%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes pop-tooltip {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
    transform: translateY(-15%);
  }
  100% {
    transform: scale(1);
    transform: translateY(-30%);
  }
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-no-scale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: scale(0.1);
  }
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open-button {
}
